{% extends "base.html" %}

    {% block contents %}


      <div class="row">
        <div class="box">
          <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
              <!-- Indicators
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              -->
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img class="img-responsive img-full" src="/static/img/img-inicio.jpg" >
                </div>
                <!--div class="item">
                  <img class="img-responsive img-full" src="/static/img/slide-2.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="/static/img/slide-3.jpg" >
                </div-->
              </div>

              <!-- Controls
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
              -->
            </div>
            <!--h1><small>Bienvenidos</small><br><span class="brand-name">Business Casual</span><hr class="tagline-divider"><small>By <strong>Start Bootstrap</strong></small></h1-->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Lorem ipsum dolor.</h2>
            <hr>
            <img class="img-responsive img-border img-left" width="250" src="/static/img/dancers.jpg">
            <hr class="visible-xs">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, recusandae, deserunt voluptatum aspernatur obcaecati sed hic sunt totam iste quia dignissimos cupiditate cumque odio assumenda aut unde nam praesentium quisquam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, ea, aliquam odit omnis suscipit id nobis itaque laudantium laboriosam quaerat eius in molestias libero! Eaque, dicta, fugiat! Placeat, nesciunt, quasi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repudiandae distinctio ex cupiditate provident aut asperiores totam veniam repellendus est? Itaque, sequi est laborum atque vel expedita! Corrupti, itaque, ea.</p>
          </div>
        </div>
      </div>

<!--
	<ul>
	{% for dato in Indumentarias %}
	<li>{{dato.titulo}}</li>
	{% endfor %}
	</ul>
	<h1> CALZADO</h1>
	<p>Ofrecemos diferentes tipos de calzados de baile:</p>
	<ul>
	{% for dato in Calzados %}
	<li>{{dato.titulo}}</li>
	{% endfor %}
	</ul>
</section>-->
	{% endblock %}